.birkita_enabled-review{
    display:none;
}
.field-birkita_megamenu {
    clear: both;
    padding-top: 10px;
}
.birkita_criteria {
    margin-bottom: 40px;
}
#tinymce blockquote {
    font-style: italic;
    padding: 8px 12px;
    background: #f8f8f8;
    clear: both;
}
.widget-option {
    width: 100% !important;
}