@media screen and (max-width: 1139px) {
    .birkita_site-container {
        width: 960px;
    }
    .site-container.boxed {
        width: 1020px;
    }
    .birkita_site-container.wide .main-body {
        width: 960px;
    }
    .footer-content {
        width: 960px;
    }
    .one-col, .content-section .one-col {
        width: 300px;
    }
    .two-col, .content-section, .single-page .main {
        width: 630px;
    }
    .sidebar {
        width: 300px;
        margin-left: 30px;
    }
    .sidebar.left {
        margin-left: 0;
        margin-right: 30px;
    }
    /** Shop Page **/

	input#woocommerce-product-search-field {
		width: 73%;
	}
	.widget_product_search input[type="submit"] {
		width: 25%;
	}
	.archive.woocommerce #container, .single.woocommerce #container {
		width: 68% !important;
	}
	.archive.woocommerce .site-container .sidebar,
	.single.woocommerce .site-container .sidebar {
		width: 32% !important;
		padding-right: 30px;
	}
	.woocommerce div#sidebar-stick {
		width: 100% !important;
		margin-top: 0;
	}
    	
    /** Header **/

    /*** Modules ***/
    /* Large Blog */

    .content-section .large-blog-style .post-title {
        font-size: 36px;
    }
        
    /** Main Slider ***/
    .module-main-slider .carousel-ctrl .slides li {
        min-height: 120px;
    }
    .content-section .module-main-slider .slider-wrap .slides .post-wrapper .entry-excerpt {
        display: none;
    }
    /** jaro, post three, post four **/
    .module-jaro .main-post {
        width: 580px;
        margin-left: 20px;
    }
    .post-jaro-type {
        height: 200px;
    }
    .module-jaro .post-list .one-col {
        margin-top: 17px;
        padding-top: 16px;
        width: 360px;
    }
    .module-jaro .main-post .post-title {
        font-size: 24px;
    }
    .module-post-three .large-post .post-title {
        font-size: 24px;
    }
    .sub-post .post-title, .widget-posts-list .style-3 .post-title {
        font-size: 14px;
    }
    /** main grid */

    .module-main-grid .birkita_post-2 .post-title,
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-title {
        font-size: 32px;
    }

    /** Module post one/two/three/four **/
    .module-post-one .large-post .post-title {
        font-size: 20px;
    }
    .module-post-one .sub-posts .sub-post-wrap {
        margin-top: 25px;
    }
    .module-post-four-col .large-post .post-info,
    .module-post-four-row .large-post .post-info {
        height: 320px;
    }
    .post-four-type .post-meta {
        display: none;
    }
    .content-section .module-post-four-col .large-post .post-info,
    .content-section .module-post-four-row .large-post .post-info {
        height: 210px;
    }
    /** .module-post-two **/
    .module-post-two .small-posts .post-title {
        font-size: 14px;
    }
    /** Classic Blog **/
    .classic-blog-style .post-details {
        height: 288px;
    }
    .content-section .classic-blog-style .post-meta {
        margin-bottom: 6px;
    }
    .content-section .classic-blog-style .post-details {
        height: 189px;
    }
    .content-section .classic-blog-style .entry-excerpt {
        display: none;
    }
    /** Single Page **/
    .birkita_score-box {
        width: 140px;
        height: 140px;
    }
    .birkita_review-box .birkita_summary {
        width: 410px;
    }
    .birkita_review-box.left, .birkita_review-box.right {
        width: 50%;
    }
    /** widget **/
    .widget-social ul li:nth-child(5n+1) a {
        margin-left: 0;
    }
    /** 404 **/
    .error-number h1 {
        font-size: 180px;
    }
    #birkita_404-wrap .birkita_error-title {
        font-size: 52px;
    }
    #birkita_404-wrap .entry-content h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 1023px) {
    .birkita_site-container {
        width: 750px;
    }
    .site-container.boxed {
        width: 750px;
    }
    .birkita_site-container.wide .main-body {
        width: 750px;
    }
    .footer-content {
        width: 750px;
    }
    .one-col, .content-section .one-col {
        width: 360px;
    }
    .two-col, .content-section, .single-page .main{
        width: 750px;
    }
    .footer-sidebar {
        width: 750px;
    }
    .sidebar {
        width: 750px;
        margin-left: 0;
    }
    .sidebar.left {
        margin-right: 0;
    }
	
    /** Shop Page **/

	.archive.woocommerce #container, .single.woocommerce #container {
		width: 60% !important;
	}
	.archive.woocommerce .site-container .sidebar,
	.single.woocommerce .site-container .sidebar {
		width: 40% !important;
		padding-right: 30px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
	}
	
    /*==== header ====*/
    .header .logo, .header .header-banner {
        display: block;
        text-align: center;
        max-width: 100%;
        padding: 0;
    }
    .header .header-banner {
        padding: 0;   
    }
    .header .header-inner {
        display: block;
    }
    .header-banner img {
        max-width: 100%;
    }
    .social-search-icon.clear-fix {
        float: none;
    }
    /*=== main nav ====*/
    .top-bar .header-inner {
        text-align: center;
    }
    .top-nav, .header-social {
        float: none;
        display: inline-block;
    }
    .top-nav {
        display: block;
    }
    .top-nav ul, .header-social ul {
        display: inline-block;
    }
    .main-nav .mobile {
        display: block;
    }
    #main-menu{
        display: none;   
    }
    .main-nav .header-inner {
        text-align: left;
    }
    .main-nav {
        position: static !important;
        min-height: 30px;
    }
    
    /*module-main-grid*/
    .module-main-grid .post-title {
        font-size: 16px;
    }
    .module-main-grid .birkita_post-2 .post-title {
        margin-bottom: 0;
        font-size: 28px;
    }
    .module-main-grid .post-cat {
        margin-bottom: 10px;
    }
    .module-main-grid .birkita_post-1 .entry-excerpt {
        display: none;
    }
    .main-grid .birkita_post-2 .post-cat, .module-main-grid .birkita_post-3 .post-cat,
    .module-main-grid .birkita_post-4 .post-cat, .module-main-grid .birkita_post-5 .post-cat {
        margin-bottom: 5px;
    }
    .module-main-grid .type-in.birkita_post-2 .post-info, .module-main-grid .type-in.birkita_post-3 .post-info,
    .module-main-grid .type-in.birkita_post-4 .post-info, .module-main-grid .type-in.birkita_post-5 .post-info {
        padding: 0 15px 15px;
    }
    /** Main Slider ***/
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-title {
        font-size: 28px;
        margin-bottom: 0;
    }
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-cat {
        margin-bottom: 8px;
    }
    /** Carousel **/

    .module-carousel .slides .post-title {
        font-size: 24px;
    }
    /** Jaro , post 3,4**/
    .module-jaro .small-posts .post-title {
        font-size: 14px;
    }
    .module-jaro .small-posts .post-meta {
        display: none;
    }
    .module-jaro .main-post {
        width: 417px;
        margin-left: 13px;
    }
    .module-jaro .post-list .one-col {
        margin-top: 11px;
        padding-top: 10px;
        width: 260px;
    }
    .module-post-four .post-list .post-title {
        font-size: 20px;
    }
    .module-post-four-col .large-post .post-info,
    .module-post-four-row .large-post .post-info {
        height: 250px;
    }
    /** Grid Type **/
    .grid-1-type .post-title {
        font-size: 28px;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(3n) {
        margin-right: 30px;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(2n) {
        margin-right: 0;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(2n+1) {
        clear: both;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(3n+1) {
        clear: none;
    }
    /** Masonry **/
    .fullwidth-section .module-masonry-wrapper .one-col:nth-child(n+3) {
        margin-top: 50px;
    }
    /** Classic Blog **/
    .classic-blog-style .post-details,
    .content-section .classic-blog-style .post-details {
        height: 225px;
    }
    .content-section .classic-blog-style .post-meta {
        display: block;
    }
    .classic-blog-style .post-title,
    .content-section .classic-blog-style .post-title {
        font-size: 28px;
    }
    .classic-blog-style .share-post {
        margin-bottom: 5px;
    }
    /** .module post two - three - four **/
    .module-post-two .small-posts .post-title {
        font-size: 16px;
    }
    .module-post-four .large-post .post-title {
        font-size: 24px;
    }   
    /** Large Blog **/

    .large-blog-style .post-title,
    .content-section .large-blog-style .post-title,
    .module-large-blog-2 .large-blog-style .post-title {
        font-size: 32px;
    }
    /** Large-blog-2 **/
    .module-large-blog-2 .large-blog-content-container .large-blog-style {
        width: 100%;
        padding: 0;
    }
    .module-large-blog-2 .large-blog-content-container .large-blog-style:nth-child(odd) {
        padding-right: 0;
    }
    .module-large-blog-2 .large-blog-content-container .large-blog-style:nth-child(even) {
        padding-left: 0;
    }
    .module-large-blog-2 .large-blog-content-container .large-blog-style:nth-child(n+2) {
        margin-top: 40px;
    }
    /** Widget **/
    .sidebar-wrap {
        width: 100% !important;
        margin-top: 48px;        
    }
    .widget-posts-list .post-info, .widget-audio .post-info {
        height: 250px;
    }
    .widget-social ul li:nth-child(5n+1) a {
        margin-left: 8px;
    }
    .widget-social ul li:first-child a {
        margin-left: 0;
    }
    .footer .widget-social ul li:nth-child(5n+1) a {
        margin-left: 0;
    }
    .widget-slider ul li .post-title,
    .widget-video ul li .post-title {
        font-size: 30px;
    }
    .widget-posts-list ul li .post-title,
    .widget-audio ul li .post-title {
        font-size: 28px;
    }
    /** Widget Slider Flexslider direction nav **/
    .widget-slider .type-in .post-info,
    .widget-video .type-in .post-info {
        width: 100%;
        padding: 40px;
    }
    .widget-posts-list ul li.type-in .thumb,
    .widget-audio ul li.type-in .thumb {
        width: 100%;
        height: auto;
    }
    .widget-posts-list ul li.type-in .post-title,
    .widget-audio ul li.type-in .post-title {
        font-size: 16px;
    }
    .widget-posts-list ul li.style-2 .thumb,
    .widget-audio ul li.style-2 .thumb {
        width: 100%;
    }
    .widget-posts-list ul li.style-2 .post-title,
    .widget-audio ul li.style-2 .post-title {
        font-size: 16px;
        text-transform: uppercase;
    }
    .widget-posts-list ul li.style-2:nth-child(n+3),
    .widget-audio ul li.style-2:nth-child(n+3) {
        margin-top: 30px;
    }
    /** 404 **/
    .page-404-wrap {
        margin-top: 60px;
    }
    .error-number h1 {
        font-size: 160px;
        line-height: 1;
    }
    .error-number, #birkita_404-wrap {
        width: 100%;
        float: none;
    }
    #birkita_404-wrap .birkita_error-title {
        font-size: 40px;
    }
    #birkita_404-wrap .entry-content h2{
        font-size: 18px;
    }
    .page-404-wrap .search {
        margin-top: 60px;
    }
    /** Single Page **/
    .birkita_review-box.above .birkita_summary, .birkita_review-box.below .birkita_summary{
        width: 470px;
    }
    .birkita_review-box.left, .birkita_review-box.right {
        width: 45%;
    }
}
@media screen and (max-width: 749px) {
    .birkita_site-container {
        width: 600px;
    }
    .site-container.boxed {
        width: 600px;
    }
    .birkita_site-container.wide .main-body {
        width: 600px;
    }
    .footer-content {
        width: 600px;
    }
    .one-col, .content-section .one-col {
        width: 285px;
    }
    .two-col, .content-section, .single-page .main{
        width: 100%;
    }
    .sidebar, .sidebar.left {
        width: 100%;
    }
    .footer-sidebar {
        width: 100%;
        padding: 0;
    }
    #back-top {
        display: none !important;
        opacity: 0 !important;
    }
    .main-nav {
        min-height: 30px;
    }
    .main-nav .header-inner {
        height: 54px;
    }
    .main-nav .mobile i {
        line-height: 54px;
    }
    ol.commentlist ul.children,
    .comment:first-child {
        margin-top: 25px;
    }
    .comment-box .comments-area ul,
    .textwidget ul, .comment-box .comments-area ol,
    .textwidget ol {
        margin: 0 0 1.5em 2em;
    }
    .comment + .comment {
        margin-top: 25px;
        padding-top: 25px;
    }

    /** Shop Page **/

	.archive.woocommerce #container, .single.woocommerce #container {
		width: 100% !important;
		float: none !important;
        padding-right: 0;
	}
	.archive.woocommerce .site-container .sidebar,
	.single.woocommerce .site-container .sidebar {
		width: 100% !important;
		float: none !important;
		padding-right: 0;
	}
	
    /*module-main-grid*/
    .type-in.birkita_post-1, .type-in.birkita_post-2, .type-in.birkita_post-3,
    .type-in.birkita_post-4, .type-in.birkita_post-5 {
        width: 100%;
    }
    .module-main-grid .post-title {
        font-size: 28px;
    }
    .module-main-grid .type-in.birkita_post-2 .post-info {
        padding: 0 20px 20px;
    }
    .module-main-grid .type-in.birkita_post-2 .post-info .post-title {
        margin-bottom: 0;
    }
    .module-main-grid .type-in.birkita_post-2 .post-info .post-meta {
        display: none;
    }
    /** Main Slider ***/
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-title {
        font-size: 24px;
    }
    .module-main-slider .slider-wrap .slides .post-wrapper {
        padding: 0 60px 30px;
    }
    .module-main-slider .flex-control-paging {
        display: none;
    }
    .module-main-slider .slider-wrap .slides .post-wrapper .entry-excerpt {
        display: none;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-meta {
        margin-bottom: 0;
    }
    /** Carousel **/
    .module-carousel .slides .post-title {
        font-size: 24px;
    }
    /** Jaro **/
    .module-jaro .small-posts .one-col {
        width: 100%;
    }
    .module-jaro .main-post {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .post-jaro-type {
        height: 300px;
    }
    .module-jaro .post-list .one-col:nth-child(2n+1) {
        padding-right: 0;
    }
    .module-jaro .post-list .one-col:nth-child(2n+2) {
        padding-left: 0;
    }
    /* classic-blog-style */

    .layout2 .classic-blog-style:nth-child(odd) .post-details:after,
    .layout1 .classic-blog-style .post-details:after {
        left: -15.2%;
    }
    .classic-blog-style .post-title {
        margin-bottom: 3px;
    }
    .classic-blog-style .post-title,
    .content-section .classic-blog-style .post-title {
        font-size: 24px;
    }
    .classic-blog-style .post-details,
    .content-section .classic-blog-style .post-details {
        height: 180px;
    }
    .module-classic-blog .meta-comment {
        margin-bottom: 0;
    }
    .classic-blog-style .entry-excerpt,
    .module-classic-blog .meta-comment {
        display: none;
    }
    /** Large Blog **/
    .module-large-blog-1 .large-blog-style .post-details,
    .content-section .module-large-blog-1 .large-blog-style .post-details {
        padding: 20px;
    }
    .large-blog-style .post-title, .content-section .large-blog-style .post-title,
    .module-large-blog-2 .large-blog-style .post-title {
        font-size: 28px;
    }
    .large-blog-content-container .large-blog-style:nth-child(n+2) {
        margin-top: 30px;
    }
    /** Masonry - Post Grid **/
    .grid-1-type .post-title {
        font-size: 24px;
    } 
    .fullwidth-section .module-masonry-wrapper .one-col:nth-child(n+3) {
        margin-top: 30px;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(n+3) {
        padding-top: 30px;
    }  
    /** Post One **/
    .module-post-one .sub-posts .sub-post-wrap {
        margin-top: 40px;
    }
    /** Post Two **/
    .module-post-two .large-post {
        width: 100%;
        padding-right: 0;
    }
    .module-post-two .small-posts {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    /** Post three **/
    .post-three-type .entry-excerpt {
        display: none;
    }
    /** Post Four **/
    .module-post-four .small-posts .one-col {
        width: 100%;
        float: none;
    }
    .module-post-four .post-list .post-title {
        font-size: 16px;
        margin-bottom: 0;
    }
    .module-post-four-col .large-post .post-info,
    .module-post-four-row .large-post .post-info {
        height: 200px;
    }
    .module-post-four-col .large-post .post-info .post-title,
    .module-post-four-row .large-post .post-info .post-title {
        margin-bottom: 0;
    }
    .module-post-four-col .large-post .post-info .entry-excerpt,
    .module-post-four-row .large-post .post-info .entry-excerpt {
        display: none;
    }
    .module-post-four .small-posts .one-col:nth-child(5) {
        padding-left: 0;
        padding-top: 0;
    }
    .module-post-four-col .post-list .post-title {
        margin-bottom: 5px;
    }
    .module-post-four .small-posts .one-col:first-child,
    .module-post-four .small-posts .one-col:nth-child(2n),
    .module-post-four .small-posts .one-col:nth-child(3) {
        padding: 0;
        margin-top: 0;
    }
    .post-four-type .post-meta {
        display: none;
    }
    /** Widget **/
    .widget-posts-list ul li.style-3 .post-info {
        height: 270px;
    }
    .widget-posts-list .post-info, .widget-audio .post-info {
        height: 200px;
    }
    .widget-slider ul li .post-title,
    .widget-video ul li .post-title {
        font-size: 30px;
    }
    /** 404 **/
    .page-404-wrap {
        margin-top: 40px;
    }
    .error-number h1 {
        font-size: 120px;
        line-height: 1;
    }
    .error-number, #birkita_404-wrap {
        width: 100%;
        float: none;
    }
    #birkita_404-wrap .birkita_error-title {
        font-size: 32px;
    }
    #birkita_404-wrap .entry-content h2{
        font-size: 16px;
    }
    .page-404-wrap .search {
        margin-top: 40px;
    }
    /** Single Page **/
    .singletop .post-title {
        font-size: 32px;
    }
    .birkita_review-box.above .birkita_summary, .birkita_review-box.below .birkita_summary{
        width: 325px;
    }
    .birkita_review-box.left, .birkita_review-box.right {
        width: 100%;
    }
    .related-box ul li .post-info .post-cat, .related-box ul li .post-info .post-meta {
        display: none;
    }
    .related-box ul li .post-title {
        margin: 0;
        font-size: 14px;
    }
    /** Woocommercer **/

	input#woocommerce-product-search-field {
		width: 74%;
	}
}
@media screen and (max-width: 599px) {
    .birkita_site-container {
        width: 100%;
        padding: 0 15px;        
    }
    .site-container.boxed {
        width: 100%;
    }
    .birkita_site-container.wide .main-body {
        width: 100%;
        padding: 0 15px;        
    }
    .footer-content {
        width: 100%;        
    }
    .one-col {
        width: 100% !important;
        margin-right: 0;
    }
    .module-masonry-wrapper .one-col {
        box-sizing: inherit;
    }
    .two-col, .content-section, .single-page .main{
        width: 100%;
        margin-right: 0;
    }
    .sidebar, .sidebar.left {
        width: 100%;
    }
    .main-nav > .birkita_site-container {
        width: 100%;
        padding: 0 15px;        
    }
    .main-nav .header-inner {
        position: relative;
    }
    .top-nav ul {
        max-width: 300px;
    }
    .top-nav ul.menu > li {
        float: none;
    }
    ol.commentlist ul.children,
    .comment:first-child {
        margin-top: 20px;
    }
    .comment-box .comments-area ul,
    .textwidget ul, .comment-box .comments-area ol,
    .textwidget ol {
        margin: 0 0 1em 1.5em;
    }
    .comment + .comment {
        margin-top: 20px;
        padding-top: 20px;
    }
    .header .logo img {
        width: 100%;
    }
    /** Flexslider direction nav **/
    .widget-slider .type-in .post-info,
    .widget-video .type-in .post-info {
        padding: 20px;
    }
    /*module-main-grid*/
    .type-in.birkita_post-1, .type-in.birkita_post-2,
    .type-in.birkita_post-3, .type-in.birkita_post-4,
    .type-in.birkita_post-5 {
        width: 100%;
    }
    .module-main-grid .birkita_post-1 .post-title, .module-main-grid .birkita_post-2 .post-title,
    .module-main-grid .birkita_post-3 .post-title, .module-main-grid .birkita_post-4 .post-title,
    .module-main-grid .birkita_post-5 .post-title {
        font-size: 24px;
    }
    .module-main-grid .type-in .post-info {
        padding: 0 20px 20px;
    }
    /** Main Slider **/  
    .owl-nav {
        top: 40%;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-title {
        font-size: 24px;
        max-width: 100%;
        margin-bottom: 2px;
    }
    .content-section .module-main-slider .slider-wrap .slides .post-info .post-title {
        font-size: 24px;
    }
    .module-main-slider .slider-wrap .slides .post-wrapper, .content-sb-section .module-main-slider .slider-wrap .slides .post-wrapper {
        padding: 20px;
        margin-bottom: 0;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-cat {
        margin-bottom: 8px;
    }
    /** Carousel **/
    .module-carousel .slides .post-title {
        font-size: 24px;
        line-height: 1.1;
    }
    .birkita_carousel-wrap.flexslider.clear-fix {
        padding: 5px;
    }
    /** Jaro **/
    .module-jaro .main-post .post-title, .module-post-three .large-post .post-title {
        font-size: 18px;
    }
    .post-jaro-type {
        height: 300px;
    }
    .module-jaro .post-info, .module-post-three .large-post .post-info {
        padding: 20px;
    }
    .module-jaro .small-posts .post-title {
        font-size: 14px;
    }
    /** Grid Posts **/
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(n+2), .fullwidth-section .module-masonry-wrapper .one-col:nth-child(n+2),
    .content-section .module-grid-content-wrap .one-col:nth-child(n+2),
    .content-section .module-masonry-wrapper .one-col:nth-child(n+2) {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .grid-1-type .post-title {
        font-size: 24px;
    }
    .masonry-content-container {
        width: 100%;
    }
    /** Classic Type **/
    .classic-blog-style .post-title {
        margin-bottom: 12px;
    }
    .content-section .classic-blog-style .entry-excerpt {
        display: block;
    }
    .module-classic-blog .meta-comment, .module-classic-blog .date {
        display: inline-block;
    }
    .classic-blog-style .thumb {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .classic-blog-style .post-details {
        width: 100%;
    }
    .module-classic-blog .layout2 .classic-blog-style:nth-child(even) .birkita_share-box {
        left: 0;
    }
    .fullwidth-section .classic-blog-style .entry-excerpt, .fullwidth-section .classic-blog-style .post-title:after {
        display: block;
    }
    .fullwidth-section .classic-blog-style .post-details, .content-section .classic-blog-style .post-details {
        height: auto;
    }
    /** Large Blog **/
    .large-blog-style .post-title,
    .content-section .classic-blog-style .post-title,
    .module-large-blog-2 .large-blog-style .post-title,
    .content-section .large-blog-style .post-title {
        font-size: 24px;
    }
    .large-blog-style .entry-excerpt {
        display: none;
    }
    .module-large-blog .meta-comment {
        border-left: none;
        margin-bottom: 0;
    }
    .large-blog-content-container .large-blog-style:nth-child(n+2) {
        margin-top: 30px;
    }
    /** Masonry **/
    /** Post One **/
    .module-post-one .large-post {
        width: 100%;
        padding-left: 0;
    }
    .module-post-one .sub-posts {
        width: 100%;
        margin-top: 30px;
    }
    .module-post-one .sub-posts .post-title {
        font-size: 18px;
    }
    .module-post-one .sub-posts .sub-post-wrap {
        margin-top: 30px;
        padding-top: 0;
        border-top: none;
    }
    /* Post Three */
    .module-post-four .large-post,
    .module-post-four .small-posts {
        width: 100%;
        float: none;
    }
    .module-post-four-col .small-posts {
        width: 50%;
        float: left;
    }
    .module-post-four-col .large-post .post-info,
    .module-post-four-row .large-post .post-info {
        height: auto;
    }
    .module-post-four .small-posts:nth-child(2) {
        margin-top: 30px;
    }
    .module-post-four-row .small-posts:nth-child(2),
    .module-post-four-col .small-posts:nth-child(2),
    .module-post-four-col .small-posts:nth-child(3) {
        margin-top: 0;
    }
    .post-four-type .post-meta {
        display: block;
    }
    .module-post-four .post-list .post-title,
    .content-section .module-post-four .large-post .post-title,
    .module-post-four-col .large-post .post-title,
    .module-post-four-row .large-post .post-title {
        font-size: 18px;
    }
    .content-section .module-post-four .large-post .post-title {
        font-size: 24px;
    }
    .module-post-four-col .type-out .entry-excerpt,
    .module-post-four-row .type-out .entry-excerpt {
        display: none;
    }
    .module-post-four-col .post-list .post-title,
    .module-post-four-row .post-list .post-title {
        font-size: 20px;
    }
    .module-post-four-col .post-four-type .post-meta,
    .module-post-four-col .large-post .post-meta,
    .module-post-four-row .post-four-type .post-meta,
    .module-post-four-row .large-post .post-meta {
        margin-bottom: 0;
    }
    .module-post-four-col .large-post .post-meta,
    .module-post-four-row .large-post .post-meta {
        display: none;
    }
    .module-post-four-row .small-posts:nth-child(3) .small-posts-wrap,
    .module-post-four-row .small-posts:nth-child(5) .small-posts-wrap {
        padding-left: 0;
    }
    .module-post-four-row .small-posts:nth-child(2) .small-posts-wrap,
    .module-post-four-row .small-posts:nth-child(4) .small-posts-wrap {
        padding-right: 0;
    }
    .module-post-four-row .small-posts:nth-child(3) .small-posts-wrap {
        margin-top: 0;
    }
    /** Widget **/
    .widget-posts-list ul li .post-title,
    .widget-audio ul li .post-title {
        font-size: 20px;
    }
    .widget-slider ul li .post-title, .widget-video ul li .post-title {
        font-size: 24px;
    }
    .widget-posts-list .post-info, .widget-audio .post-info {
        height: auto;
    }
    .widget-posts-list ul li.style-3 {
        width: 100%;
        margin-right: 0;
    }
    .widget-posts-list ul li.style-3 .post-info {
        height: 209px;
    }
    /** Single Page **/
    .s-post-nav .nav-btn.nav-prev {
        width: 100%;
        border-right: none;
        padding-right: 0;
        float: none;
    }
    .s-post-nav .nav-btn.nav-next {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #ececec;
    }
    .birkita_author-box {
        padding: 20px;
        text-align: center;
    }
    .birkita_author-box .author-info .birkita_author-page-contact {
        position: relative;
    }
    .birkita_author-box .author-info {
        padding-left: 0;
        position: relative;
        width: 100%;
        margin-top: 15px;
    }
    .birkita_author-box .birkita_author-avatar {
        float: none;
    }
    .article-content blockquote, .textwidget blockquote {
    	font-style: italic;
        margin: 0;    
    	font-style: italic;
    	padding: 5px 15px;
    	clear: both;
        border-left-style: solid;
        border-left-width: 4px;
        border-color: #D13030;
    }
    .article-content blockquote p, .textwidget blockquote p {
        font-style: inherit;
        margin-bottom: 0;
    }
    .singletop .post-title {
        font-size: 26px;
    }
    .birkita_review-box.above .birkita_summary, .birkita_review-box.below .birkita_summary{
        width: 100%;
    }
    .birkita_review-box .summary-wrap {
        margin-top: 30px;
    }
    .birkita_score-box {
        float: none;
        margin: 0 auto 30px auto;
    }
    /** Instagram **/
    .footer_photostream li {
        width: 33.333%;
    }
    .footer_photostream_wrapper {
        padding: 0 15px;
    }
    .footer_photostream li:first-child,.footer_photostream li:nth-child(2) {
        width: 50%;
    }
    #footer-menu {
        text-align: center;
    }
	
    /** Woocommerce **/

	.widget_product_search input[type="submit"] {
		width: 24%;
	}
}

@media screen and (max-width: 460px) {
    /** Main Slider **/
    .module-main-slider .slider-wrap .slides .post-wrapper, .content-sb-section .module-main-slider .slider-wrap .slides .post-wrapper {
        margin-bottom: 0;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-cat {
        margin-bottom: 5px;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-title,
    .classic-blog-style .post-title, .large-blog-style .post-title,
    .content-section .classic-blog-style .post-title,
    .module-large-blog-2 .large-blog-style .post-title,
    .content-section .large-blog-style .post-title,
    .grid-1-type .post-title, .module-carousel .slides .post-title,
    .module-main-grid .birkita_post-1 .post-title,
    .module-main-grid .birkita_post-2 .post-title,
    .module-main-grid .birkita_post-3 .post-title,
    .module-main-grid .birkita_post-4 .post-title,
    .module-main-grid .birkita_post-5 .post-title,
    .module-post-four .large-post .post-title,
    .content-section .module-main-slider .slider-wrap .slides .post-info .post-title,
    .widget-slider ul li .post-title,
    .widget-video ul li .post-title,
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-title,
    .content-section .module-main-slider .slider-wrap .owl-carousel .post-info .post-title,
    .content-section .module-post-four .large-post .post-title {
        font-size: 20px;
    }
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-meta {
        display: none;
    }
    .widget-posts-list ul li .post-title,
    .widget-audio ul li .post-title,
    .module-post-four .post-list .post-title {
        font-size: 18px;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-cat a,
    .grid-1-type .post-cat a, .birkita_carousel-wrap .slides .post-cat a,
    .birkita_carousel-large-wrap .slides .post-cat a,
    .classic-blog-style .post-cat a, 
    .large-blog-style .post-cat a, 
    .module-main-grid .post-cat a,
    .module-post-two .large-post .post-cat a,
    .module-post-three .large-post .post-cat a,
    .module-post-four .large-post .post-cat a,
    .module-post-one .sub-posts .post-cat a,
    .post-jaro-type .post-cat a,
    .post-three-type .post-cat a,
    .post-four-type .post-cat a,
    .type-in .post-cat a,
    .singletop .post-cat a {
        font-size: 10px;
    }
    .large-blog-content-container .large-blog-style:nth-child(n+2) {
        margin-top: 30px;
    }
    .module-post-four .post-list .post-title {
        margin-bottom: 0;
    }
    .module-post-four-col .large-post .thumb, .module-post-four-row .large-post .thumb {
        width: 100%;
        float: none;
    }
    .content-section .module-post-four-col .large-post .post-info,
    .content-section .module-post-four-row .large-post .post-info {
        height: auto;
    }
    .module-post-four-col .large-post .post-info, .module-post-four-row .large-post .post-info {
        width: 100%;
        float: none;
        padding: 15px;
    }
    .module-post-four-col .small-posts:nth-child(2) .small-posts-wrap,
    .module-post-four-row .small-posts:nth-child(2) .small-posts-wrap,
    .module-post-four-row .small-posts:nth-child(3) .small-posts-wrap {
        margin-top: 0;
    }
    .post-four-type {
        padding-left: 15px;
    }
    .post-four-type .post-meta {
        display: none;
    }
    .module-post-four-col .post-four-type .post-meta,
    .module-post-four-row .post-four-type .post-meta {
        display: none;
    }
    .large-blog-style .entry-excerpt {
        margin-bottom: 0;
        display: none;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-meta,
    .module-main-slider .slider-wrap .slides .post-info .post-title:after {
        display: none;
    }
    .header-search input {
        width: 225px;
        right: 15px;
    }
    .related-box ul li {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .related-box ul li:last-child {
        margin-top: 30px;
    }
    .related-box ul li .post-info .post-cat, .related-box ul li .post-info .post-meta {
        display: block;
    }
    .related-box ul li .post-title {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    ol.commentlist ul.children,
    .comment:first-child {
        margin-top: 15px;
    }
    .comment-box .comments-area ul,
    .textwidget ul, .comment-box .comments-area ol,
    .textwidget ol {
        margin: 0 0 0.5em 1em;
    }
    .comment + .comment {
        margin-top: 15px;
        padding-top: 15px;
    }
    .module-main-slider .flexslider:hover .flex-prev {
        left: 15px;
        top: 45%;
    }
    .module-main-slider .flexslider:hover .flex-next {
        right: 15px;
        top: 45%;
    }
    .flex-direction-nav a {
        width: 24px;
        height: 24px;
    }
    .module-main-slider .flexslider .flex-direction-nav a svg {
        width: 7px;
        height: 20px;
    }
    /** Main Grid **/
    
    .module-main-grid .post-meta {
        display: none;
    }
    /** Grid Type **/
    .grid-1-type .post-details .entry-excerpt, .grid-1-type .post-info .entry-excerpt {
        margin-top: 10px;
    }
    /** Jaro **/
    .post-jaro-type {
        height: 170px;
    }
    .module-jaro .small-posts .post-title {
        font-size: 12px;
    }
    .module-post-three .large-post .entry-excerpt {
    display: none;
    }
    .classic-blog-style .thumb {
        margin-bottom: 15px;
    }
    /** Post One **/
    .module-post-one .large-post .post-info {
        margin-top: 15px;
    }
    .widget-posts-list ul li.style-3 .post-info {
        height: 105px;
    }
	/** Woocommerce **/

	.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
		width: 47%;
	}
}
@media screen and (max-width: 360px) {
    .grid-1-type .post-title {
        font-size: 16px;
    }
    .module-main-slider .slider-wrap .slides .post-info .post-title,
    .classic-blog-style .post-title, .large-blog-style .post-title,
    .content-section .classic-blog-style .post-title,
    .module-large-blog-2 .large-blog-style .post-title,
    .content-section .large-blog-style .post-title,
    .grid-1-type .post-title, .module-carousel .slides .post-title,
    .module-main-grid .birkita_post-1 .post-title,
    .module-main-grid .birkita_post-2 .post-title,
    .module-main-grid .birkita_post-3 .post-title,
    .module-main-grid .birkita_post-4 .post-title,
    .module-main-grid .birkita_post-5 .post-title,
    .module-post-four .large-post .post-title,
    .module-post-four .post-list .post-title,
    .content-section .module-main-slider .slider-wrap .slides .post-info .post-title,
    .widget-slider ul li .post-title, .widget-video ul li .post-title,
    .module-main-slider .slider-wrap .owl-carousel .post-info .post-title,
    .content-section .module-main-slider .slider-wrap .owl-carousel .post-info .post-title,
    .content-section .module-post-four .large-post .post-title {
        font-size: 18px;
    }
    .widget-posts-list ul li .post-title,
    .widget-audio ul li .post-title {
        font-size: 16px;
    }
    .module-main-grid .birkita_post-1 .post-title,
    .module-main-slider .slider-wrap .slides .post-info .post-title {
        margin-bottom: 0;
    }
    .module-main-slider .slider-wrap .slides .post-wrapper,
    .content-sb-section .module-main-slider .slider-wrap .slides .post-wrapper {
        padding: 10px 20px;
    }
    .type-out .entry-excerpt {
        display: none;
    }
    .module-post-four .small-posts .thumb,
    .module-post-four-col .small-posts .thumb,
    .module-post-four-row .small-posts .thumb {
        width: 100%;
        float: none;
    }
    .module-post-four-col .post-four-type {
        width: 100%;
    }
    .module-post-four-col .small-posts {
        width: 100%;
        float: none;
    }
    .post-four-type {
        padding-left: 0;
        width: 100%;
        float: none;
        padding: 10px;
    }
    .module-post-four .small-posts .small-posts-wrap,
    .module-post-four .small-posts:nth-child(2) .small-posts-wrap {
        padding: 10px;
    }
    .module-post-four-col .small-posts .small-posts-wrap,
    .module-post-four-col .small-posts:nth-child(2) .small-posts-wrap,
    .module-post-four-row .small-posts .small-posts-wrap,
    .module-post-four-row .small-posts:nth-child(2) .small-posts-wrap {
        padding: 10px 0;
    }
    .module-post-four .small-posts:nth-child(2) .small-posts-wrap {
        margin-top: 10px;
    }
    .module-jaro .post-info .post-cat, .module-post-three .large-post .post-cat, .module-main-slider .slider-wrap .slides .post-info .post-cat,
    .module-main-grid .post-cat, .widget-slider ul li .post-cat,.widget-video ul li .post-cat, .module-main-slider .slider-wrap .slides .post-info .post-meta {
        display: none;
    }
    .grid-1-type .post-meta, .classic-blog-style .post-meta, .large-blog-style .post-meta, .module-post-two .large-post .post-meta, .module-post-three .large-post .post-meta, .module-jaro .main-post .post-meta, .widget-slider ul li .post-meta,
    .widget-video ul li .post-meta {
        margin-bottom: 0;
    }
    .fullwidth-section .classic-blog-style .entry-excerpt, .fullwidth-section .classic-blog-style .post-title:after {
        display: none;
    }
    .related-box ul li .post-info .post-cat, .related-box ul li .post-info .post-meta {
        display: none;
    }
    .related-box ul li .post-title {
        margin: 0;
        font-size: 16px;
    }
    /** Main Grid **/
    .module-main-grid .post-meta,
    .post-jaro-type .entry-excerpt {
        display: none;
    }
    .post-jaro-type {
        height: 120px;
    }
    .module-post-three .small-posts .post-meta,
    .module-post-three .small-posts .post-cat,
    .module-post-two .small-posts .post-meta,
    .post-four-type .post-cat,
    .post-four-type .post-meta {
        display: none;
    }
    .content-section .classic-blog-style .entry-excerpt {
        display: none;
    }
    .widget-posts-list .style-3 .thumb {
        float: none;
        margin-right: 0;
        width: 100%;
    }
    .widget-posts-list ul li.style-3 .date,
    .module-post-four .large-post .post-meta {
        display: none;
    }
    .fullwidth-section .module-grid-content-wrap .one-col:nth-child(n+2),
    .fullwidth-section .module-masonry-wrapper .one-col:nth-child(n+2),
    .content-section .module-grid-content-wrap .one-col:nth-child(n+2),
    .content-section .module-masonry-wrapper .one-col:nth-child(n+2) {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .widget-posts-list .thumb,
    .widget-audio .thumb {
        width: 40%;
    }
    .widget-posts-list .post-info,
    .widget-audio .post-info {
        padding: 0 0 0 10px;
        width: 60%;
    }
    .widget-posts-list .style-2 li:nth-child(2n) .post-info,
    .widget-audio .style-2 li:nth-child(2n) .post-info {
        padding: 0 10px 0 0;
    }
    .footer .widget-social ul li:nth-child(5n+1) a,
    .footer .widget-social ul li:nth-child(3n+1) a,
    .widget-social ul li:nth-child(5n+1) a,
    .widget-social ul li:nth-child(6n+1) a {
        margin-left: 8px;
    }
    .footer .widget-social ul li:nth-child(4n+1) a,
    .widget-social ul li:nth-child(4n+1) a {
        margin-left: 0;
    }
    .ads-wrap img {
        width: 100%;
    }
}